---
interface Props {
  label: string;
  value: string | undefined;
}

const { label, value } = Astro.props;
---

{
  value === undefined ? undefined : (
    <div class="text-center mb-10">
      <div>{label}</div>
      <div>
        {value.split(`\n`).map((line) => (
          <p>{line}</p>
        ))}
      </div>
    </div>
  )
}
