---
interface Props {
  label: string;
  value: string | undefined;
}

const { label, value } = Astro.props;
---

{
  value === undefined ? undefined : (
    <div class="flex flex-col items-center mb-10">
      <div>{label}</div>
      <div>{value}</div>
    </div>
  )
}
