---
import ytUrl from "../../utils/ytUrl";
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div class="relative pt-[56.25%] bg-gray-300">
  <iframe
    class="absolute top-0 left-0 w-full h-full"
    src={ytUrl(url)}
    title="Chemin tout tracé"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
