---
import Layout from '../layouts/Layout.astro';

export function getStaticPaths() {
  // TODO 1 to 30 => should get data from a MD/YML collection

  return [
    {params: {page: '001'}},
    {params: {page: '002'}},
    {params: {page: '003'}},
  ];
}

const { page } = Astro.params;
---
<Layout title="TODO">
  <main>
    hello page {page}
  </main>
</Layout>