<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager - Jouer Bouger</title>
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  </head>
  <body>
    <script>
      import CMS from "decap-cms-app";
      const branch = import.meta.env.PUBLIC_BRANCH ?? "main";
      const url = new URL(window.location);
      CMS.init({
        // NOTE: merges with /admin/config.yml if it exists
        config: {
          backend: {
            branch: branch,
          },
          site_url: url.origin,
        },
      });
    </script>
    <style is:global>
      /* Workaround for https://github.com/netlify/netlify-cms/issues/5092 */
      [data-slate-editor] {
        -webkit-user-modify: read-write !important;
      }
    </style>
  </body>
</html>
