---
const branch: string = import.meta.env.PUBLIC_BRANCH ?? "main";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager - Jouer Bouger</title>
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  </head>
  <body data-git-branch={branch} class="h-full">
    <div id="nc-root"></div>
    <div class="fixed left-3 bottom-3">
      <a
        class="block"
        href="https://app.netlify.com/sites/jouer-bouger/deploys"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src={`https://api.netlify.com/api/v1/badges/1383d8b3-d0aa-4881-b507-1886eb1379b8/deploy-status?branch=${branch}`}
          alt="Netlify Deploy Status"
        />
      </a>
    </div>
    <script>
      import CMS from "decap-cms-app";
      const branch = document.body.dataset.gitBranch;
      const url = new URL(window.location);
      CMS.init({
        // NOTE: merges with /admin/config.yml if it exists
        config: {
          backend: {
            branch: branch,
          },
          site_url: url.origin,
        },
      });
    </script>
    <style is:global>
      /* Workaround for https://github.com/netlify/netlify-cms/issues/5092 */
      [data-slate-editor] {
        -webkit-user-modify: read-write !important;
      }
    </style>
  </body>
</html>
