---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/card/Logo.astro";

const cards = await getCollection("cards");
---

<Layout
  title="Tous les Jeux - Jouer Bouger"
  description="Découvrez tous les jeux de Jouer Bouger. Pour les familles qui veulent moins de sédentarité, plus de complicité!"
  canonicalUrl="/liste"
>
  <Logo />
  <h1 class="text-center font-amatic-sc text-3xl md:text-5xl mb-10">
    Tous les Jeux
  </h1>
  <ul class="text-center">
    {
      cards.map((card) => (
        <li class="mb-1">
          <a
            class="text-blue-600 hover:text-blue-700 hover:underline"
            href={`/${card.id}`}
          >{`${card.id} - ${card.data.title}`}</a>
        </li>
      ))
    }
  </ul>
</Layout>
