---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const cards = await getCollection("cards");
---

<Layout title="Jouer Bouger">
  <h1>Jouer Bouger!</h1>
  <ul>
    {
      cards.map((card) => (
        <li>
          <a
            class="text-blue-600 hover:text-blue-700 hover:underline"
            href={`/${card.id}`}
          >{`${card.id} - ${card.data.title}`}</a>
        </li>
      ))
    }
  </ul>
</Layout>
