---
import resolveUrl from "../utils/resolveUrl";
import "@fontsource/amatic-sc";
import "@fontsource/source-sans-pro";
import Favicon from "../components/Favicon.astro";

interface Props {
  title: string;
  description: string;
  canonicalUrl: string; // should be a full url, or an absolute path
  ogTitle?: string; // falls back to title
  ogDescription?: string; // falls back to description
  ogUrl?: string; // should be a full url, or an absolute path, falls back to canonicalUrl
  ogImage?: string; // should be a full url, or an absolute path, falls back to logo of Jouer Bouger
  ogImageAlt?: string; // falls back to "Jouer Bouger"
  ogVideo?: string; // hidden if not provided
}

const baseUrl: string =
  import.meta.env.PUBLIC_BASE_URL ?? "https://www.jouerbouger.com";

const { title, description, ogTitle, ogDescription, ogImageAlt, ogVideo } =
  Astro.props;

const canonicalUrl = resolveUrl(Astro.props.canonicalUrl, baseUrl);
const ogUrl = resolveUrl(Astro.props.ogUrl, baseUrl);
const ogImage = resolveUrl(Astro.props.ogImage, baseUrl);
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <!-- required for Open Graph Protocol -->
    <meta property="og:title" content={ogTitle ?? title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={ogImage ?? resolveUrl("/jouer-bouger-logo.png", baseUrl)}
    />
    <meta property="og:image:alt" content={ogImageAlt ?? "Jouer Bouger"} />
    <meta property="og:url" content={ogUrl ?? canonicalUrl} />
    <!-- optional for Open Graph Protocol -->
    <meta property="og:site_name" content="Jouer Bouger" />
    <meta property="og:locale" content="fr_BE" />
    <meta property="og:description" content={ogDescription ?? description} />
    {ogVideo && <meta property="og:video" content={ogVideo} />}
    <meta name="viewport" content="width=device-width" />
    <Favicon />
  </head>
  <body class="p-2 md:p-10 text-base md:text-xl">
    <slot />
  </body>
</html>
